@import "../variables.scss";

.Main_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero {
  margin-bottom: 3rem;
}

.hero .title {
  font: $font-title-big;
  margin-bottom: 8px;
}

.hero .hero__text {
  font: $font-text-big;
  text-align: center;
  margin-inline: 4rem;
  margin-bottom: 1.8rem;
}

.Main_container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 45px 20px;
  width: 100%;
}



// + 768px

@media screen and (min-width: 768px) {
  .Main_main {
    max-width: 980px;
    margin-inline: auto;
    display: flex;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }

  // .hero {
  //   grid-column: span 2;
  // }

  .Main_container-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
}